body{
	font-style: sans-sarif;
	line-height: 1.5em;
	font-size: 1.5em;
}

/* All pages */
#banner{
	width:100%;
	background-color: lightgreen;
	display:inline-block;
	
}
#logo{
	float: left;
}
#bannerHead{
	line-height: 0;
	display: inline-block;
	vertical-align: middle;
	margin-left: 1em;
	margin-top: 1.5em;

}
/* NAV */
nav{
	padding: 0;
	background-color: #000;
	font-size: 120%;
	line-height: 1.5em;
	text-align: center;
}
nav a{
	text-decoration: none;
	color: #FFF;
	display: inline-block;
	transition:0.3s;
}
nav a:hover{
	background-color: 5F5F5F;
}
nav a li{
	list-style-type: none;
	padding-left: 1em;
	padding-right: 1em;
	padding: 0.2em 1em 0.2em 1em;
}
.button{
	padding: 1em
}

/* Index */
.box{
	display: block;
	float: left;
	padding: 10em 0em 10em 0em;
}
.boxHead{
	text-align: center;
}
.box footer{
	font-size: 70%;
	text-color: light-gray;
}
.miniBox{
	float: right;
	display:block
}
/* All other then index */
.wideBox{
	
}
/*All pages*/
#creators{
	
}
